﻿@model TestBrainence.ViewModels.SentenceViewModel;

</br>
<form asp-controller="UploadPage" asp-action="Index" method="post" enctype="multipart/form-data">
    <input name="file" type="file" accept="text/plain" />
    </br>
    <label>Фільтр: </label> <input type="text" name="filter" placeholder="Введіть слово" />
    <button type="submit">Підтвердити</button>
</form>




<table align ="center" >

        <tr>
            <th class="text-center""><span>Текст</span></th>
            <th class="text-center"><span>Ключове слово</span></th>
            <th class="text-center"><span>Кількість</span></th>
        </tr>
        @foreach (var sentence in Model.Sentences)
        {
        <tr>
            <th> @(sentence.Text)</th>
            <th class="text-center"> @(sentence.WordKey)</th>
            <th class="text-center" width ="100"> @(sentence.Count)</th>
        </tr>
        }

</table>



